@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body {
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
	background:url('https://steamusercontent-a.akamaihd.net/ugc/2438013375536940927/D370DBF7BFC83ED36F783F08A598FFF3E71A1D61/');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.button {
	position: absolute;
	left:50%;
	top:50%;
}

.buttonWait {
	position: absolute;
	left:49%;
	top:70%;
}

.item {
	position: absolute;
	float: left;
	display: none;
	top: 39%;
	left: 46%;
}

.item h2 {
	text-align:center;
	position: absolute;
	line-height: 125px;
	width: 100%;
	color: rgb(51, 51, 51);
}

svg {
 -webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.circle_animation {
	stroke-dasharray: 440;
	stroke-dashoffset: 440;
	transition: all 1s linear;
}

:root {
	font-size: 10px;
	--neon-text-color: #f40;
	--neon-border-color: #08f;
}